* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.change {
   padding: 0 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: blueviolet;
}

form input {
    display: flex;
    flex-direction: column;
}